[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# Autres fichiers auto-générés
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Mac
.DS_Store

# Windows
Thumbs.db

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Cache
*.apk
